/* @import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); */
.header {
    background : #000a12;
    color:#eceff1;
}
.headerWrap {
    width:100%;
    margin:0 auto;
    padding:30px;
    font-size: 100px;
    text-align: left;    
}

.header h1 {
    font-family: 'Lora', serif;;
    margin:0 100px;
    padding: 0 15px;
    line-height: 100px;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #444;
    padding:8px 130px;
}

.navbar__menu {
    display:flex;
    list-style: none;
    padding-left:0;
}

.navbar__menu li {
    padding:8px 12px; 
}

.navbar__menu li:hover {
    background-color: #444;
    border-radius:4px;
}

.navbar__icon {
    list-style:none;
    display:flex;
    color:white;
    padding-left:0;
}

.navbar__icon li {
    padding:8px 12px;
}

.navbar__toggleBtn {
    display:none;
    position:absolute;
    right:32px;
    font-size:24px;
    color:#444;
}


.mainVisual {
    position: relative;
}

.mainVisual figure {
    height: 80vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.mainVisual .item01 {
    background-image: url('../img/zara01.png');
}
.mainVisual .item02 {
    background-image: url('../img/zara02.jpg');
}
.mainVisual .item03 {
    background-image: url('../img/zara03.jpg');
}


.mainVisual .slideArrows i {
    position:absolute;
    top: 50%;
    font-size: 80px;
    color: rgba(0,0,0,0.5);
    transform: translateY(-50%);
}

.mainVisual .slideArrows i:first-child {
    left: 40px;
    cursor: pointer;
}

.mainVisual .slideArrows i:last-child {
    right:40px;
    cursor: pointer;
}


.content {
    padding:100px 0;
}


.content .container {
    display: flex;
    width: 1200px;
    margin:0 auto;
}

.content figure {
    position: relative;
    flex:1;
    padding: 0 15px;
    
}

/* .content figure:nth-child(2) {
    flex:2;
} */

.content figure img {
    width:100%;
}

.sec01 figure a {
    position:absolute;
    /* top:50%;
    left:50%; */
    inset : 50% auto auto 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    
    width:200px;
    height:30px;
    text-align: center;
    line-height: 24px;
    border:2px solid #fff;;
    
    background-color: #444;
    color:#fff;
    transition: 0.5s;
}

.sec01 figure a:hover {
    background:#fff;
    color: #444;
}

.sec01 figure:hover a {
    opacity: 1;
}

.sec02 {
    background: #f2f2f2;
}

.sec02 h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.sec02 hr {
    width: 10%;
    size: 20px;
    margin: 20px auto;
    background-color: #444;
}

.sec02 .inner {
    position: relative;
    background: #34515e;
}

.sec02 .inner a {
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    color:#fff;
    
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.sec02 .inner a:hover {
    opacity: 1;
}

.sec03 {
    background-color: #808e95;
}

.sec03 h1 {
    color:#eceff1;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.sec03 hr {
    width: 10%;
    size: 20px;
    margin: 20px auto;
    background-color: #444;
}

.sec03 .inner {
    position: relative;
    overflow: hidden;
}

.sec03 .inner a {
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);
    color: #fff;
    line-height: 46px;
    transition: 0.5s;

    text-align: center;
}

.sec03 .inner:hover a{
    top: calc(100% - 50px);
}

.service {
    padding: 50px 0;
}

.service .inner {
    width: 250px;
    margin: 0 auto;
    background:1;
    font-size: 20px;
    text-align: center;
}

.service .inner span {
    display: inline-block;
    width: 0;
    white-space:nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    transition: width 1s, height 2s;
}

.service .inner:hover span {
    width:250px;
}

.service .inner:hover i {
    opacity: 0;
}

.pop001 {
    position: absolute;
    top: 20%;
    right:10%;
    transform: translate(-50%,-50%);
    background-color: #fff;;
}

.pop button {
    position: absolute;
    bottom: 30px;
    right: 30px;

    width: 100px;
    height: 40px;
    border: none;
    background: #ddd;
    counter-reset: #555;
    cursor: pointer;
}