@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

.Wrap{}


/* topBanner */
.topBanner {
    background: #f2f2f2;
    padding: 24px 0;
}

.topBanner .container {
    position: relative;
    width:1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.topBanner h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size:24px;
    font-weight: 100;
    letter-spacing: 0,040em;
    margin-bottom: 10px;
}

.topBanner p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: -0.025em;
}

.topBanner a {
    display: inline-block;
    height: 16px;
    line-height: 14px;
    margin-left: 20px;
    padding:0 20px;
    border: 1px solid grey;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.topBanner i {
    position: absolute;
    top:0;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
/* topBanner */

/* header */

.headerWrap .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.headerWrap .container>* {
    padding:0 15px;
}

.gnb>ul {
    display: flex;    
}

.gnb>ul>li {
    position:relative;
    padding:0 20px;
}

.gnb>ul>li::after {
    content: "";
    position: absolute;
    top:50%;
    left:100%;
    display: block;
    width: 1px;
    height: 13px;
    background: #333;
    transform: translate(-50%,-50%);
}

/* .gnb>ul>li:nth-child(1):after {
    display: none;
    .gnb>ul>li~li:nth-child(1):after
} */

.searchForm {
    margin-left: auto;
    background:#fff;
}

.searchForm input[type="search"] {
    padding: 3px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #444;
}

.searchForm input[type="search"]::placeholder {
    color:#ddd;
    font-size: 15px;
}
.searchForm input[type="search"]:focus::placeholder {
    color:#444;
}

.searchForm button {
    outline: none;
    border: none;
    background:transparent;
}

.searchForm button i {
    font-size: 15px;
    color: #fff;
    background: #333;
    padding:10px;
    border-radius: 50%;
}
/* header */

/* MAIN */

.mainVisual .visualSlide {
    border-top: 1px solid #ddd;
}

.mainVisual .visualSlide figure {
    height: 600px;
}

.mainVisual .visualSlide figure.slick-active {
}

.mainVisual .visualSlide figure .inner {
    width: 1200px;
    margin: 300px auto 0 auto;
    padding: 0 15px;  
    color:  #fff;  
}

.mainVisual .visualSlide figure .inner h3 {
    opacity: 0;
    transform: translatex(100px);
    font-size: 60px;
    font-weight: 900;
    margin-bottom:30px;
    text-shadow: 0 0 2px #333;
    transition: 2s;
}

.mainVisual .visualSlide figure.slick-active .inner h3 {
    opacity: 1;
    transform: translatex(0);
}

.mainVisual .visualSlide figure .inner p {
    opacity: 0;
    transform: translatex(-100px);
    font-size: 15px;
    font-weight: 300;
    transition: 1s 0.5s; 
}

.mainVisual .visualSlide figure.slick-active .inner p {
    opacity: 1;
    transform: translatex(0);
}

.mainVisual .visualSlide figure .inner a {
    opacity: 0;
    transform: translatey(-100px);
    font-size: 15px;
    font-weight: 300;
    transition: 1s 1.5s; 
}

.mainVisual .visualSlide figure.slick-active .inner a {
    opacity: 1;
    transform: translatey(0);
}

.mainVisual .visualSlide .itm01 {
    background: url('../images/mainvisual01.jpg') no-repeat center center/cover;
}
.mainVisual .visualSlide .itm02 {
    background: url('../images/mainvisual02.jpg') no-repeat center center/cover;
}
.mainVisual .visualSlide .itm03 {
    background: url('../images/mainvisual03.jpg') no-repeat center center/cover;
}

.mainVisual .visualSlide .slick-dots {
    display: flex;
    gap:10px;

    position: absolute;
    bottom:60px;
    left:50%;
    transform: translateX(-50%);

}


.mainVisual .visualSlide .slick-dots li {
    width: 100px;
    height: 5px;
    background:#333;
    transition: 2s;
}

.mainVisual .visualSlide .slick-dots li::after {
    content: "";
    display: block;
    width:0;
    height: 100%;
    background: #f00;
    transition: 0.5s;
}

.mainVisual .visualSlide .slick-dots li.slick-active::after {
    width:100%;
    transition: 2s;
}

.mainVisual .visualSlide .slick-dots li.slick-active {
    background: #fff;
}

.mainVisual .visualSlide .slick-dots button {
    display: none;
}














